/* Copper- GTK+3.20 version */

/* Checkboxes/Radios */
checkbutton,
radiobutton {
	padding: 3px 6px;
}

menu check + label,
menu .check {
	margin: 0px 3px;
}

checkbutton check,
radiobutton radio {
	min-width: 16px;
	min-height: 16px;
	margin: 3px;
}

menu checkbutton check,
menu check,
menu radio,
menu menuitem check,
menu menuitem radio {
	margin: 0px 3px;
	min-width: 14px;
	min-height: 14px;
}

checkbutton check,
radiobutton radio,
menu menuitem check,
menu menuitem radio {
	border: 2px solid;
	border-color:  @theme_border_color;
	border-style: inset;
}

menu menuitem check,
menu menuitem radio {
	border-color: @theme_light_border_color;
}

checkbutton check:checked {
	background-color: mix (@theme_base_color, @theme_dark_color, 0.5);
	border-color: @theme_dark_border_color;
}

checkbutton check:disabled,
menu menuitem check:disabled {
	border-color: @theme_light_border_color;
}

checkbutton check:hover,
menu menuitem check:hover,
checkbutton check:focus,
menu menuitem check:focus {
	background-color: mix (@theme_base_color, @theme_dark_color, 0.5);
}

checkbutton check:checked:hover,
checkbutton check:checked:focus {
	border-color: @theme_dark_border_color;
}

menu menuitem check:checked:hover,
menu menuitem check:checked:focus {
	border-color: @theme_border_color;
}

checkbutton check:indeterminate,
menu menuitem check:indeterminate {
	background-image: none;
	color: transparent;
}

radiobutton radio,
menu menuitem radio {
	border-radius: 50%;
}

radiobutton radio:checked {
	background-color: mix (@theme_base_color, @theme_dark_color, 0.5);
	border-color: @theme_dark_border_color;
}

radiobutton radio:disabled,
menu menuitem radio:disabled {
	border-color: @theme_light_border_color;
}

radiobutton radio:hover,
menu menuitem radio:hover,
radiobutton radio:focus,
menu menitem radio:focus {
	background-color: mix (@theme_base_color, @theme_dark_color, 0.5);
	border-color: @theme_dark_border_color;
}

radiobutton radio:indeterminate,
menu menuitem radio:indeterminate {
	background-image: none;
	color: transparent;
}

.view check,
iconview check,
treeview.check,
treeview check,
row check {
	border: 2px solid @theme_light_border_color;
	border-style: inset;
	min-width: 14px;
	min-height: 14px;
	margin: 3px;
	padding: 0px;
}

popover check {
	border: 2px solid @theme_dark_border_color;
	border-style: inset;
}

.view check:indeterminate,
iconview check:indeterminate,
treeview.check:indeterminate,
row check:indeterminate {
	min-height: 14px;
	min-width: 14px;
}

.view radio,
iconview radio,
treeview.radio,
row radio {
	border: 2px solid @theme_light_border_color;
	border-radius: 50%;
	border-style: inset;
	min-height: 14px;
	min-width: 14px;
	margin: 3px;
	padding: 0px;
}

.view check:hover,
iconview check:hover,
treeview check:hover,
row check:hover {
	background-color: transparent;
}

.view check:checked:selected,
iconview check:checked:selected,
treeview.check:checked:selected,
row:selected check:checked,
.view check:checked:hover,
iconview check:checked:hover,
treeview.check:checked:hover,
row:selected:hover check:checked,
popover check:checked {
	background-color: transparent;
}

.view radio:checked:selected,
iconview radio:checked:selected,
treeview.radio:checked:selected,
row:selected radio:checked,
.view radio:checked:hover,
iconview radio:checked:hover,
treeview.radio:checked:hover,
row:selected:hover radio:checked,
popover radio:checked {
	background-color: transparent;
}

/* Client Side Decorations */

headerbar button.titlebutton.close,
headerbar button.titlebutton.maximize,
headerbar button.titlebutton.minimize {
	border: none;
	box-shadow: none;
	margin: 0;
	color: @theme_trough_color;
}

headerbar button.titlebutton.close:hover,
.titlebar button.titlebutton.close:hover,
headerbar button.titlebutton.close:hover:backdrop,
.titlebar button.titlebutton.close:hover:backdrop,
headerbar button.titlebutton.maximize:hover,
.titlebar button.titlebutton.maximize:hover,
headerbar button.titlebutton.maximize:hover:backdrop,
.titlebar button.titlebutton.maximize:hover:backdrop,
headerbar button.titlebutton.minimize:hover,
.titlebar button.titlebutton.minimize:hover,
headerbar button.titlebutton.minimize:hover:backdrop,
.titlebar button.titlebutton.minimize:hover:backdrop {
	box-shadow: inset -1px -1px 1px 0px rgba(PriDark, 0.50), 
					inset 1px 1px 1px 0px rgba(WHITE, 0.50);
}

headerbar button.image-button.popup image,
headerbar button.appmenu image {
	color: @theme_fg_color;
}
