# THEME: 2 colors - Mango Mojito and Terrarium Moss

SetEnv ThemeIdx 4

SetEnv ThemeName "MangoMojitoandTerrariumMoss"

SetEnv ThemeColors 2

#ButtonBGHL.hls (38, 0.5470588235294117, 0.6796536796536796)
SetEnv ButtonBGHL #DAA03D

#ButtonBG.hls (62, 0.3313725490196079, 0.2500000000000001)
SetEnv ButtonBG #686A3F

#Pri color #DAA03D
#Pri complement #255FC2
#Pri font #111111
#Pri light #F7B545
#Pri dark #BF8C35
#Pri verydark #A87B2E

SetEnv PriFont #111111
SetEnv PriVDark #A87B2E
SetEnv PriDark #BF8C35
SetEnv PriLight #F7B545
SetEnv PriColor #DAA03D
SetEnv PriCompl #255FC2

#Sec color #616247
#Sec complement #9E9DB8
#Sec font #111111
#Sec light #6E6F50
#Sec dark #55563E
#Sec verydark #4A4B36

SetEnv SecFont #111111
SetEnv SecVDark #4A4B36
SetEnv SecDark #55563E
SetEnv SecLight #6E6F50
SetEnv SecColor #616247
SetEnv SecCompl #9E9DB8

SetEnv TerFont #101010
SetEnv TerVDark #484934
SetEnv TerDark #53543C
SetEnv TerLight #6B6C4E
SetEnv TerColor #5F6045
SetEnv TerCompl #9A99B4

SetEnv QuatFont #111111
SetEnv QuatVDark #4B4C37
SetEnv QuatDark #56573F
SetEnv QuatLight #707151
SetEnv QuatColor #626448
SetEnv QuatCompl #A1A0BB

SetEnv RootColor #001500
SetEnv PriFont #111111
SetEnv SecFont #555555

SetEnv RootCompl #150000
SetEnv TermFade rgb:168/123/46
SetEnv TermBG rgba:2000/0000/0000/dddd
SetEnv TermBGInit rgba:0000/2000/0000/dddd

