Package: wmnet
Version: 1.06-1
Architecture: amd64
Maintainer: Martin Lazar <mlazar@email.cz>
Installed-Size: 60
Depends: libc6 (>= 2.7), libx11-6, libxext6, netbase
Suggests: wmaker
Section: x11
Priority: optional
Homepage: http://www.katharineosborne.com/wmnet/
Description: network monitor for WindowMaker
 This little  program polls network  statistics and does a  few things
 with the  data it  gets. The speedometer  keeps track of  the current
 speed per second and shows it in a color corresponding to which of rx
 or tx that has the highest speed at the moment.
